* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body {
    min-width: 1300px;
}
#conteiner {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 1000px;
    width: expression(document.documentElement.clientWidth < 1000 ? "1000px" : "auto");
}
#swf_container {
    height: calc(100%-243px);
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
#header {
    position: absolute;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;
    display: none;
}
.center {
    margin: 0 auto;
    max-width: 1330px;
    min-width: 960px;
    position: relative;
    height: 100%;
}
#project {
    padding-top: 76px;
    background: url(/tpl/images/shadow.jpg) center 76px no-repeat;
}
#project .name2 {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 48px;
    line-height: 100%;
    padding-top: 4%;
    color: #fff;
    padding-left: 27px;
}
#project .www2 {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-left: 27px;
}
#project .www2 a {
    color: #fff;
    text-decoration: none;
}
.clear {
    clear: both;
}
.back {
    height: 102px;
    margin-top: 69px;
    margin-bottom: 75px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 90;
    display: none;
}
.back a {
    display: block;
    background-color: #000;
    width: 102px;
    height: 102px;
    -webkit-border-radius: 51px;
    -moz-border-radius: 51px;
    border-radius: 51px;
    behavior: url(/tpl/js/PIE.htc);
    margin: 0 auto;
    position: relative;
    display: none;
}
.back a span {
    position: absolute;
    background: url(/tpl/images/sprite.png) -163px 0px no-repeat;
    left: 34px;
    top: 34px;
    width: 36px;
    height: 36px;
    display: block;
    display: none;
}
#footter_push {
    height: 243px;
    width: 100%;
}
#footter {
    height: 243px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #fff url(/tpl/images/shadow.jpg) center 0px no-repeat;
    display: none;
}
.content {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background: #f3f3f3;
}
.content-header {
    background: #012B5B url(../img/content-bg.jpg) no-repeat 0 0;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: table;
    width: 100%;
}
.content-header .center {
    display: table-cell;
    vertical-align: middle;
}
.content-header__logo {
    max-width: 80px;
    max-height: 85px;
    animation: fadeIn 1s ease-in-out 0.1s;
    -webkit-animation: fadeIn 1s ease-in-out 0.1s;
}
.content-header__title {
    font-size: 34px;
    color: #fff;
    line-height: 46px;
    font-weight: 500;
    width: 700px;
    margin: 25px auto 124px auto;
    animation: fadeIn 1s ease-in-out 0.1s;
    -webkit-animation: fadeIn 1s ease-in-out 0.1s;
}
.content-header__desc {
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    width: 790px;
    margin: 0 auto;
    font-weight: 300;
    animation: fadeIn 1s ease-in-out 0.1s;
    -webkit-animation: fadeIn 1s ease-in-out 0.1s;
}
.content-header__desc span {
    font-size: 34px;
    line-height: 48px;
    display: block;
}
.structure {
    background: url(../img/struct-bg.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 11% 0 11%;
    color: #000;
}
.info-num {
    max-width: 1320px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 70px 5px rgba(0,0,0,0.15);
}
.structure__wrap {
    background: #fff url(../img/struct-inner-bg.png) no-repeat 100% 49%;
    padding: 2.5em 7em 7em;
    animation: slideInLeft 1s ease-in-out 0.1s;
    -webkit-animation: slideInLeft 1s ease-in-out 0.1s;
}
.planning__wrap {
    background: #fff url(../img/plain-inner-bg.png) no-repeat 100% 75%;
    padding: 1em 7em 4em;
    margin-bottom: 38px;
    animation: slideInRight 1s ease-in-out 0.1s;
    -webkit-animation: slideInRight 1s ease-in-out 0.1s;
}
.structure .info-num__header {
    margin-bottom: 50px;
}
.planning .info-num__header {
    margin-bottom: 40px;
}
.info-num__num {
    font-weight: 900;
    background: #0a5b85;
    background: -moz-linear-gradient(top, #0a5b85 0%, #49d4e1 100%);
    background: -webkit-linear-gradient(top, #0a5b85 0%,#49d4e1 100%);
    background: linear-gradient(to bottom, #0a5b85 0%,#49d4e1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 250px;
    line-height: 250px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 12%;
    position: relative;
    z-index: 8;
}
.info-num__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    display: inline-block;
    width: 450px;
    vertical-align: top;
    margin-top: 25px;
}
.info-num__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    max-width: 550px;
    padding-left: 12px;
    letter-spacing: 0.5px;
}
.planning .info-num__text {
    max-width: 640px;
}
.planning {
    background: url(../img/plaining-bg.jpg) no-repeat 0 0;
    background-size: 100% 74.5%;
    padding: 8% 0 1%;
    color: #000;
}
.interface {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
}
.interface__item {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 5px 43px 0px rgba(0, 0, 0, 0.38);
}
.interface__item  img {
    max-width: 100%;
}

.interface__item-1 {
    max-width: 680px;
    max-height: 1040px;
    height: 1040px;
    margin-right: 32px;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.interface__item-2 {
    max-width: 655px;
    max-height: 790px;
    height: 790px;
    margin-bottom: 25px;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.2s;
}
.interface__item-3 {
    max-width: 655px;
    max-height: 225px;
    height: 225px;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.2s;
}
.detail__title {
    color: #fff;
    font-size: 48px;
    line-height: 55px;
    font-weight: 400;
    margin: 50px 0;
}
.detail__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: zoomIn 1s ease-in-out 0.1s;
    -webkit-animation: zoomIn 1s ease-in-out 0.1s;
}
.detail__left {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.detail__top {
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
.detail__top-item {
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.solutions {
    background: url('../img/struct-bg.png') no-repeat 20% 46%;
    margin-bottom: 50px;
}
.solutions__wrap {
    padding: 1em 7em 5em;
    background: transparent;
    border-top: 15px solid #0a5b85;
    border-bottom: 15px solid #49d4e1;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 20px 100%;
    -moz-background-size: 20px 100%;
    background-size: 20px 100%;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
    background-image: -webkit-linear-gradient(top, #0a5b85 0%,#49d4e1 100%), -webkit-linear-gradient(top, #0a5b85 0%,#49d4e1 100%);
    background-image: -moz-linear-gradient(top, #0a5b85 0%,#49d4e1 100%), -moz-linear-gradient(top, #0a5b85 0%,#49d4e1 100%);
    background-image: -o-linear-gradient(top, #0a5b85 0%,#49d4e1 100%), -o-linear-gradient(top, #0a5b85 0%,#49d4e1 100%);
    background-image: linear-gradient(to bottom, #0a5b85 0%,#49d4e1 100%), linear-gradient(to bottom, #0a5b85 0%,#49d4e1 100%);
}
.solutions .info-num__title {
    display: block;
    margin-top: 12px;
    margin-left: 10px;
    max-width: 250px;
    line-height: 50px;
    margin-bottom: 30px;
}
.solutions .info-num__text {
    max-width: 270px;
    position: relative;
    z-index: 10;
    letter-spacing: 0.5px;
}
.page-examp {
    color: #2b2b2b;
    position: relative;
    max-width: 1090px;
    z-index: 5;
    background: #fff;
    padding: 3em 10.5em;
    box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.15);
    padding-bottom: 7em;
    margin-top: -30%;
    margin-left: 34%;
    animation: slideInUp 1s ease-in-out 0.4s;
    -webkit-animation: slideInUp 1s ease-in-out 0.4s;
}
.page-examp h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 45px;
}
.page-examp h3 {
  font-size: 31px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 45px;
}
.page-examp h4 {
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 45px;
}
.page-examp__text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 40px;
}
.page-examp__text a {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(43, 43, 43);
  line-height: 2;
  text-decoration: underline;
}
.page-examp__text a:hover {
    color: #00aeef;
    text-decoration: none;
}
.page-examp__docs {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5em;
}
.page-examp__docs div {
    width: 35%;
    margin-right: 18%;
    position: relative;
    padding-left: 35px;
}
.page-examp__docs div:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/doc-small.svg') no-repeat 0 0;
}
.page-examp__text-important {
  font-size: 41px;
  line-height: 46px;
  font-weight: 300;
  text-align: center;
  position: relative;
  background: #fff;
  padding: 44px 30px;
  margin-bottom: 70px;
}

.page-examp__text-important:before, 
.page-examp__text-important:after {
  content: "";
  position: absolute;
}
.page-examp__text-important:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(radial, right, 10, 90% 0%, 150, from(#00aeef), to(#00a651));
  background-image: -webkit-radial-gradient(right, 150px 230px, #00aeef, #00a651);
  background-image: -moz-radial-gradient(right, farthest-corner, #00aeef 0%, #00a651 72%);
  z-index: -2;
}
.page-examp__text-important:after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #a4b9ff;
  z-index: -1;
}
.page-examp__text-important a {
    color: #00aeef;
    border-bottom: 1px solid #00aeef;
    text-decoration: none;
}
.page-examp__text-important a:hover {
    color: #00aeef;
    border-bottom: none;
    text-decoration: none;
}
.page-examp__num {
    display: flex;
    justify-content: space-around;
}
.page-examp__num-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  max-width: 140px;
}
.page-examp__num-item  span {
    color: #09769d;
    font-size: 41px;
    line-height: 44px;
    font-weight: 200;
    display: block;
}
.solutions__title {
    font-size: 48px;
    line-height: 56px;
    color: #000;
    font-weight: 400;
    max-width: 450px;
    position: relative;
    margin-left: 61%;
    margin-top: 60px;
    margin-bottom: 105px;
}
.draw-icons {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 3.8em 6.2em;
  padding-bottom: 5em;
    position: relative;
    margin-bottom: 145px;
  animation: slideInUp 1s ease-in-out 0.1s;
  -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.draw-icons__header  {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  line-height: 36px;
  text-align: left;
  width: 630px;
  display: flex;
  margin-bottom: 10%;
}

.draw-icons__header span {
  font-size: 48px;
  color: rgb(0, 0, 0);
  line-height: 48px;
  font-weight: 400;
  margin-right: 60px;
}
.draw-icons__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.draw-icons__item {
    max-height: 190px;
    width: calc(100% / 5);
    margin-bottom: 45px;
    animation: fadeIn 1s ease-in-out 0.1s;
    -webkit-animation: fadeIn 1s ease-in-out 0.1s;
}
.draw-icons__news {
    max-width: 830px;
    position: absolute;
    bottom: -90px;
    right: 5px;
}
.draw-icons__news-item {
    -webkit-box-shadow: 0px 0px 27px 5px rgba(161,161,161,0.4);
    -moz-box-shadow: 0px 0px 27px 5px rgba(161,161,161,0.4);
    box-shadow: 0px 0px 27px 5px rgba(161,161,161,0.4);
    margin-right: 35px;
    display: inline-block;
    vertical-align: top;
    width: 340px;
    height: 340px;
}
.page-examp__num-item {
    position: relative;
    padding-top: 70px;
    animation: fadeIn 1s ease-in-out 0.1s;
    -webkit-animation: fadeIn 1s ease-in-out 0.1s;
}
.page-examp__num-item--fin:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/fin.svg') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.page-examp__num-item--home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/home.svg') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.page-examp__num-item--edu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/edu.svg') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.page-examp__num-item--mess:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/mess.svg') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.page-examp__num-item--com:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/com.png') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.page-examp__num-item--arr:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/arr.png') no-repeat 0 0;
    display: block;
    width: 60px;
    height: 60px;
}
.final .info-num__text {
    max-width: 300px;
}
.final .page-examp {
    margin-top: -16%;
    margin-left: 42%;
    max-width: 950px;
    padding: 0;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.final .info-num__title {
    width: 530px;
}
.final .info-num__num {
    margin-right: 9%;
}
.final {
    background: url(../img/map.png) no-repeat 29% 100%;
    padding-bottom: 245px;
}
.environment {
    margin-bottom: 30px;
    animation: fadeInLeft 1s ease-in-out 0.1s;
    -webkit-animation: fadeInLeft 1s ease-in-out 0.1s;
}
.environment__title {
  font-size: 48px;
  color: rgb(0, 0, 0);
  line-height: 55px;
  margin: 80px 0;
  margin-left: 48%;
  font-weight: 400;
}
.environment__img {
    width: 100%;
    max-height: 750px;
    box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.15);
}
.environment__img img {
    width: 100%;
}
.responsive {
    margin-bottom: 30px;
    min-height: 1370px;
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.responsive .center {
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.responsive__img1 {
    animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-animation: slideInUp 1s ease-in-out 0.1s;
    -webkit-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    -moz-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
}
.responsive__img2 {
    position: absolute;
    top: 10%;
    right: -2%;
    z-index: 5;
    animation: slideInUp 1s ease-in-out 0.4s;
    -webkit-animation: slideInUp 1s ease-in-out 0.4s;
    -webkit-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    -moz-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
}
.responsive__img3 {
    position: absolute;
    top: 40%;
    right: 31%;
    z-index: 6;
    animation: slideInUp 1s ease-in-out 0.6s;
    -webkit-animation: slideInUp 1s ease-in-out 0.6s;
    -webkit-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    -moz-box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
    box-shadow: 0px 0px 40px 10px rgba(168,168,168,0.25);
}
.responsive__body {
    background: url(../img/plaining-bg.jpg) no-repeat 0 27px;
    background-size: 100%;
    margin-top: 45px;
    color: #fff;
    position: relative;
    min-height: 1370px;
}
.solutions .info-num, 
.final .info-num {
    box-shadow: none;
}
.responsive .info-num__num {
    margin-right: 4%;
}
.responsive__text {
  font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 36px;
    width: 315px;
    font-weight: 300;
    margin-top: 90px;
    margin-left: 8%;
    letter-spacing: 1.1px;
}
.about-content {
    padding-top: 180px;
    padding-bottom: 200px;
    background: url(../img/about-content.png) no-repeat 95% 40px, 
                url(../img/Keyboard.png) no-repeat 8% 99%;
    animation: fadeInRight 1s ease-in-out 0.1s;
    -webkit-animation: fadeInRight 1s ease-in-out 0.1s;
}
.about-content__wrap {
    background: #fff url(../img/about-content-wrap.svg) no-repeat 87% 35%;
    padding: 2em 7em 5em;
    margin-bottom: 38px;
}
.thanks {
  font-size: 48px;
  font-weight: 400;
  color: rgb(28, 28, 28);
  line-height: 54px;
  text-align: center;
  padding: 120px 0;
  animation: slideInUp 1s ease-in-out 0.1s;
  -webkit-animation: slideInUp 1s ease-in-out 0.1s;
}
.thanks a {
  font-size: 16px;
  color: rgb(71, 207, 221);
  border-bottom: 1px solid rgb(71, 207, 221);
  text-decoration: none;
  line-height: 36px;
  font-weight: 400;
}
.odometer-formatting-mark {
    display: inline-block !important;
    font-size: 0 !important;
    padding: 5px;
}

